*{ margin: 0; padding: 0; }
body{ background: #DDD !important; width: 100%; height: 100%; }
#flash_notice{ margin: 0 auto; width:396px; text-align: center; }

/* LOGIN */
#container-login { width: auto; height: auto; left: 50%; top: 50%; margin-left: -200px; margin-top: -125px; position: absolute; background: #fff; border-radius: 4px; box-shadow: 0px 0px 7px 4px #808080; }
#container-login .login { width: 360px; height: auto; font-family: Tahoma; font-size: 14px; margin: 5px 18px 5px 18px; }
#container-login .login .titulo h1 { text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 22pt; }
#container-login .login .conteudo { padding-top: 20px; }
#container-login .login .conteudo label{ float: left; }
#container-login .login .conteudo input[type="text"], #container-login .login .conteudo input[type="password"]{ margin-left: 30px; width: 265px; height: auto;	padding: 10px; border: 1px solid #ddd; }
#container-login .login .conteudo input[type="submit"] {width: auto; height: auto; background-color: #121212; color: #fff; border-radius: 2px; padding: 7px 10px 7px 10px; border: none; cursor: pointer; opacity:1;}
#container-login .login .conteudo input[type="submit"]:hover{ opacity:0.9; }

/* TOPO */
#topo { width: 100%; height: auto; }
#topo .center-topo { width: 980px; height: 120px; margin: 0 auto; background: #FFF; }
#topo .center-topo .logo { width: 490px; height: 120px; float: left; }
#topo .center-topo .logo h1{ font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 22pt; padding-left: 20px; padding-top: 25px; }
#topo .center-topo .admin { width: 490px; height: 120px; float: right; }
#topo .center-topo .admin p { text-align: right; padding-top: 27px; padding-right: 20px; font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;}

/* MENU */
#menu{ width: 100%; height: auto; }
#menu .center-menu{ width: 980px; height: auto; margin: 0 auto; background: #FFF; }
#menu .center-menu .navbar-editado{ margin-bottom: 0 !important;}
#menu .center-menu .navbar .navbar-inner-editado{ border-radius: 0 !important; padding-right: 0; padding-left: 0; }

/* CONTEUDO-HOME */
#conteudo{ width: 100%; height: auto; }
#conteudo .center-conteudo{ width: 980px; height: auto; margin: 0 auto; background: #FFF; }
#conteudo .center-conteudo .padding-center-conteudo{ padding: 10px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box { width: 960px; height: auto; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box input{ width: 945px; max-width: 945px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box textarea{ width: 945px; max-width: 945px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box input[type="submit"] {width: auto; height: auto; background-color: #121212; color: #fff; border-radius: 2px; padding: 7px 10px 7px 10px; border: none; cursor: pointer; opacity:1;}
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box input[type="submit"]:hover{ opacity:0.9; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box input[type="file"]{ border:1px solid #ccc; border-radius: 5px; padding: 2px;width: 945px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .btns { float: right;  }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .btns a{width: auto; height: auto; background-color: #121212; color: #fff; border-radius: 2px; padding: 7px 10px 7px 10px; border: none; cursor: pointer; opacity:1; font-size: 17px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .btns a:hover{ opacity:0.9; text-decoration: none;}



/* CATEGORIAS */
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias{ width: 100%; height: 40px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias input[type="submit"] {width: auto; height: auto; background-color: #121212; color: #fff; border-radius: 2px; padding: 7px 10px 7px 10px; border: none; cursor: pointer; opacity:1;}
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias input[type="submit"]:hover{ opacity:0.9; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias .btns { float: right;  }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias .btns a{width: auto; height: auto; background-color: #121212; color: #fff; border-radius: 2px; padding: 7px 10px 7px 10px; border: none; cursor: pointer; opacity:1; font-size: 17px; }
#conteudo .center-conteudo .padding-center-conteudo .conteudo-box .topo-categorias .btns a:hover{ opacity:0.9; text-decoration: none;}

/* FOOTER */
#footer{ width: 100%; height: auto; }
#footer .center-footer{ width: 980px; height: 50px; margin: 0 auto; background: #FFF; }
#footer .center-footer p { font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 11pt; color: #000; text-align: center; padding-top: 15px; }