*{ margin:0; padding:0; }
body{ background: url("/assets/img/background.png"); }
.clear { clear: both }

/* TOP */
#topo{ width: 100%; height: auto; padding:0; }
#topo .centro-topo{ width: 980px; height: 172px; margin:0 auto; }
#topo .centro-topo li{ padding-left: 15.5px; }
#topo .centro-topo li a { font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 18pt; color: #FFFFFF; }
#topo .centro-topo li a:hover{background: none; border: none; border-radius: none; text-decoration: underline; }
.padding-top{ padding-top: 55px; }

/* CONTENT */
#content{ width: 100%; height: auto; float: left; }
#content .centro-content { width: 1000px; margin: 0 auto; height: auto; }
#content .centro-content .padding-centro{ padding:10px; position: relative; float: left; background: url("/assets/img/bg-content.png");}

/* CONTEUDO */
#content .centro-content .padding-centro .conteudo{ width: 694px; height: auto; background:#FFFFFF; position: relative; float: left; border-right: 1px solid #CCC; }
#content .centro-content .padding-centro .conteudo .padding-conteudo { padding: 30px; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .intro-text{ width: 100%; height: auto; border-bottom: 1px solid #CCC;}
#content .centro-content .padding-centro .conteudo .padding-conteudo .intro-text p{ font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 17pt; color:#6e797d; font-weight: normal; padding-top: 10px; padding-bottom: 25px; text-align: justify; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content { width: 100%; height: auto; border-top: 1px solid #CCC; margin-top: 2px; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias { width: 100%; height: auto; border-bottom: 1px solid #CCC; padding-top: 35px; padding-bottom: 30px; float: left; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-left-noticias{float: left; width: 120px; height: 100%; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-left-noticias .data-noticias p { font-family: Georgia; font-size: 9pt; font-style: italic; color:#7f7f78; text-align: center; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias {float: left;width: 510px; height: 100%;}
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .titulo-noticias p {font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 15pt; font-weight: normal;}
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .titulo-noticias p a { color:#6e797d; text-decoration: none; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .titulo-noticias p a:hover{ text-decoration: underline; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .intro-text-noticias{font-family: Georgia; font-size: 11pt; color:#7f7f78; text-align: justify; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .intro-text-noticias .btn-link{ font-family: Georgia; font-size: 11pt; font-style: italic; color:#a76143; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .rodape-noticias{ width: 100%; height: auto; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .rodape-noticias .author .icon-user{ background: url("/assets/img/icon.png"); width: 11px; height: 14px; float: left; background-position: 0 0; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .rodape-noticias .author p{ font-family: Georgia; font-size: 9pt; font-style: italic; color:#7f7f78; margin-left: 5px; float: left; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .noticias .float-right-noticias .rodape-noticias .author p .btn-link {font-family: Georgia; font-style: italic; color:#a76143;}
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box{ width: 100%; height: auto; padding-top: 20px; padding-bottom: 20px; float: left; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-txt{ float: left;}
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-txt p { font-family: Georgia; font-size: 9pt; font-style: italic; color:#7f7f78; margin-left: 5px; float: left; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style{ float: right; padding: 0; margin: 0; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style ul{ box-shadow: none; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style ul li a{ border: none; border-radius: 0; background: #F4F4EE; font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 10pt; color:#6e797d; font-weight: bold; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style ul li a:hover{ background:#B77E66; color: #FFF; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style .active{ background:#B77E66; color: #FFF; }
#content .centro-content .padding-centro .conteudo .padding-conteudo .content .pagination-box .pagination-style span{border: none; border-radius: 0; background: #F4F4EE}

/* SIDEBAR */
#content .centro-content .padding-centro .sidebar { width: 270px; height: auto; background: url("/assets/img/bg-sidebar.png"); float: right; position: relative;}
#content .centro-content .padding-centro .sidebar .box-pesquisa { width: 100%; height: auto; border-bottom: 1px solid #CCC; }
#content .centro-content .padding-centro .sidebar .box-pesquisa form{ padding: 20px 24px 20px 24px; margin: 0; }
#content .centro-content .padding-centro .sidebar .box-pesquisa form input{ margin: 0; border-radius: 0; }
#content .centro-content .padding-centro .sidebar .box-pesquisa form input[type='text'] { border: 1px solid #ccc; color:#7f7f78; }
#content .centro-content .padding-centro .sidebar .categorias{ width: 100%; height: auto; border-bottom: 1px solid #CCC; }
#content .centro-content .padding-centro .sidebar .categorias .padding-categorias{ padding: 20px 24px 20px 24px; }
#content .centro-content .padding-centro .sidebar .categorias .padding-categorias ul{ list-style: none; padding: 0; margin: 0; }
#content .centro-content .padding-centro .sidebar .categorias .padding-categorias ul a{ font-family: Georgia; font-size: 9pt; color:#a76143;  }
#content .centro-content .padding-centro .sidebar .categorias .padding-categorias .titulo p a{ font-family: Georgia; font-size: 12pt; color:#696961; }
#content .centro-content .padding-centro .sidebar .categorias .padding-categorias .lista-principal{ float: left; padding-right:10px; }
#content .centro-content .padding-centro .sidebar .autor{ width: 100%; height: auto; border-bottom: 1px solid #CCC; }
#content .centro-content .padding-centro .sidebar .autor .padding-autor{ padding: 20px 24px 20px 24px; }
#content .centro-content .padding-centro .sidebar .autor .padding-autor .titulo p a{ font-family: Georgia; font-size: 12pt; color:#696961; }
#content .centro-content .padding-centro .sidebar .autor .padding-autor .img-autor{ width: 130px; height: auto;padding: 10px 46px 10px 46px; }
#content .centro-content .padding-centro .sidebar .autor .padding-autor .img-autor a img { border: 1px solid #999; }
#content .centro-content .padding-centro .sidebar .autor .padding-autor .txt-autor{ font-family: Arial; font-size: 9pt; color:#696961; text-align: center; }


/* FOOTER */
#footer{ width:100%; height: auto; }
#footer .centro-footer{ width: 980px; height: 105px; margin: 0 auto; }
#footer .centro-footer p{ font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; font-size: 15pt; color: #FFFFFF; text-align: center; padding-top: 40px; }



